:root {
	font-family: system-ui, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	--fg: hsl(220 4 83);
	--bg: hsl(220 4 14);
	--int: hsl(from var(--bg) h calc(s * 1.7) calc(l * 1.6));
	--ac: hsl(from var(--fg) h calc(s * 3) calc(l * 0.8));

	color-scheme: dark light;

	color: var(--fg);
	background-color: var(--bg);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
	:root {
		--fg: hsl(220 4 14);
		--bg: hsl(220 4 83);
	}
}

* {
	box-sizing: border-box;
}

body {
	font-size: 1rem;
}

h1,
h2,
h3 {
	line-height: 1.2;
}

button,
input {
	border: 1px solid transparent;
	font-size: 1rem;
	padding: 0.4rem 1rem;
	font-family: inherit;
	color: inherit;
	background-color: var(--int);
	transition: border-color 100ms linear;
}

button {
	cursor: pointer;
	border-radius: 0.1em;
}

input {
	padding: 0.2rem 0.4rem;
}

button:hover,
input:hover {
	border-color: var(--ac);
}

button:active {
	transform: scale(0.95);
	background-color: var(--bg);
}
button:focus,
button:focus-visible,
input:focus,
input:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}
